@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Error";
}


    <h1>
        AQUI HAY ERRORSITOS PROVOCADOS A PROPOSITO
        
    </h1>    
    <p>
        DE VERDAD :( CREEME
    </p>
    <p>
        ***************************************************
    </p>

<iframe width="1200"
        height="505"
        align="middle"
        src="https://animemotivation.com/wp-content/uploads/2020/10/gon-smiling-hunter-x-hunter.jpg"
        allow="accelerometer"
        frameborder="0"
        allowfullscreen></iframe>
